#settings_plugin_m3dfio h4:not(:first-of-type) {
	margin-top: -5px;
}

#settings_plugin_m3dfio .warning {
	color: rgba(255, 0, 0, 1);
}

#settings_plugin_m3dfio label.disabled, #settings_plugin_m3dfio input[type="number"][disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

#settings_plugin_m3dfio label.checkbox {
	margin-top: -15px;
	width: calc(100% - 24px);
}

#settings_plugin_m3dfio label.checkbox:first-of-type {
	margin-top: -5px;
	width: calc(100% - 24px);
}

#settings_plugin_m3dfio label.checkbox > span {
	position: relative;
	top: 9px;
}

#settings_plugin_m3dfio input[type="checkbox"] {
	background: transparent;
	border: 0;
	outline: 0;
}

#settings_plugin_m3dfio label.control-label {
	cursor: default;
}

#settings_plugin_m3dfio input[type="number"], #settings_plugin_m3dfio select {
	width: calc(100% - 24px);
}

#control div.jog-panel.extruder > div > div:first-of-type, #control div.jog-panel.extruder > div > div:nth-of-type(3), #control div.jog-panel.extruder > div > button:nth-of-type(3), #control div.jog-panel.controls > div:nth-of-type(4), #control div.jog-panel.controls > button:first-of-type {
	display: none !important;
}

#control div.jog-panel h1 {
	text-align: center;
}

#control div.jog-panel h1.microPass {
	font-size: 14px;
	width: 80%;
	height: 30px;
	margin: -10px auto 0 auto;
	position: relative;
	top: -5px;
}

#control div.jog-panel h1.microPass:nth-of-type(2) {
	margin-top: -15px;
	top: -10px;
}

#control div.jog-panel > div.jog-panel > div {
	margin-left: 15px;
}

#control div.jog-panel.controls > div.jog-panel:nth-of-type(2) {
	position: relative;
	left: 8px;
}

#control div.jog-panel.extruder > div div.slider {
	width: 134px !important;
	position: relative;
	right: 2px;
}

#control div.jog-panel.extruder > div > div > input {
	width: 94px !important;
}

#control div.jog-panel.general button {
	width: 110px !important;
}

#control div.jog-panel.filament {
	clear: left;
}

#control div.jog-panel.calibration button {
	width: 180px;
	float: left;
}

#control div.jog-panel.calibration button:first-of-type, #control div.jog-panel.calibration button:nth-of-type(2), #control div.jog-panel.calibration button:nth-of-type(11), #control div.jog-panel.calibration button:nth-of-type(12), #control div.jog-panel.calibration button:nth-of-type(13), #control div.jog-panel.calibration button:nth-of-type(14) {
	width: 230px;
	clear: both;
}

#control div.jog-panel.calibration button:nth-of-type(2) {
	clear: both;
}

#control div.jog-panel.calibration button.arrow {
	clear: both;
	width: 30px;
	height: 30px;
	margin-right: 15px;
}

#control div.jog-panel.calibration button:nth-of-type(4), #control div.jog-panel.calibration button:nth-of-type(6), #control div.jog-panel.calibration button:nth-of-type(8), #control div.jog-panel.calibration button:nth-of-type(10) {
	position: relative;
	left: 5px;
} 

#control div.jog-panel.calibration > div > button:nth-of-type(3) {
	position: relative;
	left: 5px;
	transform: rotate(45deg);
}

#control div.jog-panel.calibration > div > button:nth-of-type(5) {
	position: relative;
	left: 5px;
	transform: rotate(-45deg);
}

#control div.jog-panel.calibration > div > button:nth-of-type(7) {
	position: relative;
	left: 5px;
	transform: rotate(45deg);
}

#control div.jog-panel.calibration > div > button:nth-of-type(9) {
	position: relative;
	left: 5px;
	transform: rotate(-45deg);
}

#control div.jog-panel.advanced button {
	width: 170px;
}

#control div.jog-panel.advanced button > img {
	width: 23px;
	height: 23px;
	position: relative;
	top: -1px;
	left: -8px;
}

#control div.jog-panel.advanced input {
	display: none;
}

#control div.jog-panel.advanced button:nth-of-type(7) {
	height: auto;
}

#control div.jog-panel.advanced button > span {
	display: inline-block;
	font-size: 12px;
	line-height: 0;
}

#control div.jog-panel.eeprom {
	text-align: center;
	width: 100%;
	clear: both;
}

#control div.jog-panel.eeprom button {
	width: 150px;
	margin: 7px 5px 10px 5px;
	display: inline-block;
}

#control div.jog-panel.eeprom table {
	margin: 0 auto;
	font: normal 10px monospace;
}

#control div.jog-panel.eeprom tr, td {
	padding: 0;
	margin: 0;
}

#control div.jog-panel.eeprom tbody > tr:first-child td {
	padding-bottom: 2px;
	cursor: default;
}

#control div.jog-panel.eeprom tr > td:first-child {
	position: relative;
	top: 1px;
	cursor: default;
	padding-right: 4px;
	text-align: right;
}

#control div.jog-panel.eeprom input {
	width: 19px;
	height: 19px;
	padding: 3px 2px 1px 2px;
	margin: 2px;
	font: normal 10px monospace;
	text-align: center;
}

#control div.jog-panel.eeprom input:disabled {
	cursor: default;
	background-color: #EEE !important;
	pointer-events: none;
}

#control div.jog-panel.eeprom input[type="radio"] {
	position: relative;
	top: 1px;
	width: 13px;
	height: 13px;
}

#control div.jog-panel.eeprom input[type="radio"] + label {
	padding-right: 10px;
	display: inline;
	position: relative;
	top: 2px;
	cursor: default;
}

.show {
	visibility: visible !important;
	opacity: 1 !important;
}

#control .microPass {
	display: none;
}

#control button.current:not(:disabled) {
	border-color: rgba(82, 168, 236, 0.8);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

body > div.page-container > div.message {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: -1;
	transition: visibility 0.3s linear, opacity 0.3s linear;
	-moz-user-select: none;
	user-select: none;
}

body > div.page-container > div.message > div {
	margin: auto auto;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
}

body > div.page-container > div.message > div > h4 {
	border: 1px solid #e5e5e5;
	color: #08c;
	border-radius: 4px 4px 0 0;
	line-height: 20px;
	font-weight: normal;
	border-bottom: none;
	margin: 1px 1px 0 1px;
	padding: 8px 40px 8px 12px;
	line-height: 20px;
	min-height: 20px;
}

body > div.page-container > div.message > div > img {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
	visibility: hidden;
}

body > div.page-container > div.message > div > div {
	border: 1px solid #e5e5e5;
	border-radius: 0 0 4px 4px;
	margin: 0 1px 1px 1px;
	padding: 8px 12px 0 12px;
	min-width: 200px;
	max-width: 400px;
}

body > div.page-container > div.message > div > div > div:not(.calibrate) {
	position: relative;
	left: calc(100% - 135px);
	padding-bottom: 2px;
}

body > div.page-container > div.message > div > div > div:not(.show) {
	height: 0;
}

body > div.page-container > div.message > div > div > div:not(.calibrate) > button {
	display: inline;
	width: 70px;
	visibility: hidden;
}

body > div.page-container > div.message > div > div > div:not(.calibrate) > button:first-of-type {
	position: relative;
	top: 3px;
	margin-right: 5px;
}

body > div.page-container > div.message > div > div > div.calibrate {
	visibility: hidden;
	position: relative;
	top: -2px;
}

body > div.page-container > div.message > div > div > div.calibrate > div {
	text-align: center;
}

body > div.page-container > div.message > div > div > div.calibrate > div.arrows {
	margin-bottom: 6px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.arrows > button {
	display: inline;
	width: 30px;
	margin: 0 3px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.arrows > button:first-of-type {
}

body > div.page-container > div.message > div > div > div.calibrate > div.distance > button {
	display: inline;
	margin: 0;
	border-radius: 0;
	width: 55px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.distance > button:first-of-type {
	border-radius: 4px 0 0 4px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.distance > button:last-of-type {
	border-radius: 0 4px 4px 0;
}

#slicing_configuration_dialog.profile, #slicing_configuration_dialog.model {
	width: 80% !important;
	max-width: 900px !important;
	position: absolute; !important;
	left: 50% !important;
	margin: 0 !important;
	transform: translate(-50%, -50%) !important;
	overflow: hidden !important;
}

#slicing_configuration_dialog.profile.in, #slicing_configuration_dialog.model.in {
	top: 50% !important;
}

#slicing_configuration_dialog.profile {
	max-width: 600px !important;
	overflow: visible !important;
}

#slicing_configuration_dialog.model {
	min-height: 568px !important;;
	min-width: 540px !important;
}

#slicing_configuration_dialog.model .modal-extra {
	margin-bottom: -7px;
}

#slicing_configuration_dialog.profile .modal-extra {
	margin-bottom: 2px;
}

#slicing_configuration_dialog.profile .modal-extra div {
	width: 100%;
	height: 300px;
	overflow: visible;
	display: flex;
}

#slicing_configuration_dialog.profile .modal-extra div > aside {
	float: left;
	font: normal 12px monospace;
	height: 100%;
	background-color: white;
	overflow: hidden;
	text-align: right;
	padding: 2px 5px;
	color: #555;
	position: relative;
}

#slicing_configuration_dialog.profile .modal-extra div > textarea {
	resize: none;
	font: normal 12px monospace;
	white-space: pre;
	word-break: break-all;
	flex-grow: 1;
	width: 100% !important;
	height: 100% !important;
	padding: 2px 2px 2px 5px !important;
	margin: 0 !important;
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
	border-left: 1px solid #ccc !important;
	border-top: 1px solid #ccc; !important;
	border-bottom: 1px solid #ccc; !important;
	border-radius: 0 !important;
	overflow: hidden;
	overflow-y: scroll;
	position: relative;
	z-index: 1;
}

#slicing_configuration_dialog .modal-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	transition: visibility 0.3s linear, opacity 0.3s linear;
	border-radius: 6px;
}

#slicing_configuration_dialog .modal-cover * {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #222;
	margin: 21px 0 0 0;
	padding: 0;
	cursor: default;
	white-space: nowrap;
}

#slicing_configuration_dialog .modal-cover img {
	margin-top: -21px;
}

#slicing_configuration_dialog h3 {
	margin: 11px 0 3px 1px;
	line-height: 0;
	font-size: 16px;
	font-weight: normal;
}

#slicing_configuration_dialog p.currentMenu {
	line-height: 30px;
	font-size: 24.5px;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	display: block;
}

#slicing_configuration_dialog.model .modal-extra input[type="file"] {
	display: none;
}

#slicing_configuration_dialog.model .modal-extra > div {
	position: absolute;
	top: 63px;
	left: 50%;
	transform: translateX(-50%);
	display: inline-flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
}

#slicing_configuration_dialog.model .modal-extra > div.filament {
	left: auto;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	flex-direction:  column;
}

#slicing_configuration_dialog.model .modal-extra > div.model {
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	flex-direction: column;
}


#slicing_configuration_dialog.model .modal-extra > div.measurements {
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
}

#slicing_configuration_dialog.model .modal-extra > div.measurements > p {
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	visibility: hidden;
	font-family: "Helvetica";
	color: white;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#slicing_configuration_dialog.model .modal-extra > div.values {
	left: 60px;
	top: 50%;
	transform: translateY(-50%);
	flex-direction:  column;
}

#slicing_configuration_dialog.model .modal-extra > div.values.translate {
	top: calc(50% - 135px);
}

#slicing_configuration_dialog.model .modal-extra > div.values.rotate {
	top: calc(50% - 81px);
}

#slicing_configuration_dialog.model .modal-extra > div.values.scale {
	top: calc(50% - 27px);
}

#slicing_configuration_dialog.model .modal-extra > div.values > p {
	font: normal 14px "Helvetica";
	padding: 0;
	margin: 0;
	display: none;
}

#slicing_configuration_dialog.model .modal-extra > div.values > p.show {
	display: inline-block;
}

#slicing_configuration_dialog.model .modal-extra > div.values > p > input {
	width: 75px;
	height: 16px;
	margin-left: 3px;
}

#slicing_configuration_dialog.model .modal-extra > div > button {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 2px 4px;
	position: relative;
	padding: 0;
	background-color: white;
	border-radius: 5px;
	border: 1px solid black;
	outline: none;
	flex-shrink: 0;
}

#slicing_configuration_dialog.model .modal-extra > div > button::-moz-focus-inner {
	border: 0 !important;
}

#slicing_configuration_dialog.model .modal-extra > div > button img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:  100%;
	height: auto;
}

#slicing_configuration_dialog.model .modal-extra > div.printer > button {
	margin: 4px 2px;
}

#slicing_configuration_dialog.model .modal-extra > div.filament > button > img {
	top: 50%;
	left: 50%;
	height: calc(100% - 2px);
	width: auto;
}

#slicing_configuration_dialog.model .modal-extra > div > button.disabled {
	opacity: 0.5;
	pointer-events: none;
}

#slicing_configuration_dialog.model .modal-extra > div > button.disabled.snap, #slicing_configuration_dialog.model .modal-extra > div > button.disabled.boundaries, #slicing_configuration_dialog.model .modal-extra > div > button.disabled.measurements {
	pointer-events: auto;
}

#slicing_configuration_dialog.model .modal-extra > div > button.nothing {
	pointer-events: none;
}

.noTransition {
	transition: none !important;
}
