# Micro 3D Printer rules file 
# Run the following to install this rule
# mv ./90-m3d-local.rules /etc/udev/rules.d/
# sudo /etc/init.d/udev restart

ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2404", GROUP="users", MODE="0666", SYMLINK="micro_m3d", ENV{ID_MM_DEVICE_IGNORE}="1"
