# Run the following commands to install this rule
# cp ./90-micro-3d-local.rules /etc/udev/rules.d/
# sudo udevadm control --reload-rules
# sudo udevadm trigger

ACTION=="add", SUBSYSTEMS=="usb", ATTRS{idVendor}=="03eb", ATTRS{idProduct}=="2404", GROUP="users", MODE="0666", ENV{ID_MM_DEVICE_IGNORE}="1"
