div.navbar-inner div.container {
	position: relative;
}

div.navbar-inner ul.nav.pull-right {
	position: static;
}

body > div.modal-scrollable.hideOverflow {
	overflow: hidden !important;
}

#terminal-output > span {
	white-space: nowrap;
}

#webcam_image[src^="None"] {
	display: none;
}

#job_pause.active {
	background-image: -ms-linear-gradient(to bottom, #FFF, #E6E6E6);
	background-image: -moz-linear-gradient(to bottom, #FFF, #E6E6E6);
	background-image: -webkit-linear-gradient(to bottom, #FFF, #E6E6E6);
	background-image: -o-linear-gradient(to bottom, #FFF, #E6E6E6);
	background-image: linear-gradient(to bottom, #FFF, #E6E6E6);
	-ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

#gcode div.midPrintFilamentChange h1 {
	text-align: center;
}

#gcode div.midPrintFilamentChange label {
	display: -ms-inline-flex;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	width: -ms-calc(100% - 170px);
	width: -moz-calc(100% - 170px);
	width: -webkit-calc(100% - 170px);
	width: -o-calc(100% - 170px);
	width: calc(100% - 170px);
	margin-bottom: 0;
}

#gcode div.midPrintFilamentChange button {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#gcode div.midPrintFilamentChange label input {
	display: inline;
	width: -ms-calc(100% - 197px);
	width: -moz-calc(100% - 197px);
	width: -webkit-calc(100% - 197px);
	width: -o-calc(100% - 197px);
	width: calc(100% - 197px);
	position: relative;
	top: -5px;
	margin-left: 5px;
	margin-right: 5px;
	-ms-flex-grow: 1;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
}

#gcode div.midPrintFilamentChange button:first-of-type {
	display: inline;
	width: 165px;
	position: relative;
	top: -1px;
}

#gcode div.midPrintFilamentChange button:nth-of-type(2) {
	float: left;
	width: 35%;
	margin-left: 70px;
}

#gcode div.midPrintFilamentChange button:nth-of-type(3) {
	float: right;
	width: 35%;
	margin-right: 70px;
}

#gcode div.midPrintFilamentChange button.disabled {
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

#settings_plugin_m33fio h4:not(:first-of-type) {
	margin-top: -5px;
}

#settings_plugin_m33fio .label-important {
	position: relative;
	top: -1px;
	text-align: center;
	white-space: normal;
}

#settings_plugin_m33fio h4 > span {
	top: -10px !important;
	left: -ms-calc(50% + 50px);
	left: -moz-calc(50% + 50px);
	left: -webkit-calc(50% + 50px);
	left: -o-calc(50% + 50px);
	left: calc(50% + 50px);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

#settings_plugin_m33fio label.checkbox {
	margin-top: -15px;
	width: -ms-calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
}

#settings_plugin_m33fio label > span.noCheckbox {
	position: relative;
	top: 10px;
}

#settings_plugin_m33fio label.checkbox:first-of-type, #settings_plugin_m33fio label.noCheckbox {
	margin-top: -5px;
	width: -ms-calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
}

#settings_plugin_m33fio label.noWrap {
	white-space: nowrap;
}

#settings_plugin_m33fio label.checkbox > span {
	position: relative;
	top: 9px !important;
}

#settings_plugin_m33fio label.checkbox > span.macOs {
	top: 0 !important;
}

#settings_plugin_m33fio input[type="checkbox"] {
	background: transparent;
	border: 0;
	outline: none;
}

#settings_plugin_m33fio div.input-append {
	width: -ms-calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
}

#settings_plugin_m33fio div.control-group.empty, #settings_plugin_m33fio div.control-group.title {
	margin-top: 0;
	margin-bottom: 3px;
}

#settings_plugin_m33fio input[type="number"], #settings_plugin_m33fio select {
	width: -ms-calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -webkit-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
}

#settings_plugin_m33fio div.input-append input[type="number"] {
	width: -ms-calc(100% - 34px);
	width: -moz-calc(100% - 34px);
	width: -webkit-calc(100% - 34px);
	width: -o-calc(100% - 34px);
	width: calc(100% - 34px);
}

#settings_plugin_m33fio div.input-append.degreesCelsius input[type="number"] {
	width: -ms-calc(100% - 27px);
	width: -moz-calc(100% - 27px);
	width: -webkit-calc(100% - 27px);
	width: -o-calc(100% - 27px);
	width: calc(100% - 27px);
}

#settings_plugin_m33fio div.input-append.mmPerMinute input[type="number"] {
	width: -ms-calc(100% - 61px);
	width: -moz-calc(100% - 61px);
	width: -webkit-calc(100% - 61px);
	width: -o-calc(100% - 61px);
	width: calc(100% - 61px);
}

#settings_plugin_m33fio div.input-append.stepsPerMm input[type="number"] {
	width: -ms-calc(100% - 72px);
	width: -moz-calc(100% - 72px);
	width: -webkit-calc(100% - 72px);
	width: -o-calc(100% - 72px);
	width: calc(100% - 72px);
}

#settings_plugin_m33fio div.input-append.ratio255 input[type="number"] {
	width: -ms-calc(100% - 42px);
	width: -moz-calc(100% - 42px);
	width: -webkit-calc(100% - 42px);
	width: -o-calc(100% - 42px);
	width: calc(100% - 42px);
}

#settings_plugin_m33fio div.control-group.dependant {
	margin-left: 30px;
}

#settings_plugin_m33fio div.control-group.dependant.camera {
	margin-left: 110px;
}

#settings_plugin_m33fio div.control-group.dependant.camera input {
	width: 100px;
}

#settings_plugin_m33fio input.short, #settings_plugin_m33fio select.short {
	width: 160px;
	margin-top: -10px;
	margin-left: 4px;
	margin-right: 4px;
	position: relative;
	top: 13px;
	text-align: center;
}

#settings_plugin_m33fio select.short.windows {
	top: 14px;
}

#settings_plugin_m33fio select.short.macOs {
	top: 5px;
}

#settings_plugin_m33fio .disabled {
	opacity: 0.5;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

#navbar {
	margin-bottom: 44px;
}

#navbar_plugin_m33fio {
	position: absolute;
	top: 44px;
	left: 0;
	margin-left: 10px;
	display: none;
}

#navbar_plugin_m33fio.show {
	display: inline;
}

#navbar_plugin_m33fio > select {
	width: 171px;
	position: relative;
	right: 30px;
	top: 5px;
	border-color: #E5E5E5;
}

#navbar_plugin_m33fio > a {
	cursor: default;
	display: inline;
	position: relative;
	right: 36px;
	top: 1px;
}

#navbar_plugin_m33fio > a:hover {
	background-color: transparent !important;
	background-image: none !important;
}

#control div.jog-panel.extruder > div > div:first-of-type, #control div.jog-panel.extruder > div > div:nth-of-type(3), #control div.jog-panel.extruder > div > button:nth-of-type(3), #control div.jog-panel.controls > div > div:nth-of-type(4), #control div.jog-panel.controls > div > button:first-of-type {
	display: none !important;
}

#control div.jog-panel.controls > div > div:nth-of-type(4).show, #control div.jog-panel.controls > div > button:first-of-type.show {
	display: block !important;
	position: relative;
	left: -ms-calc(50% + 1px);
	left: -moz-calc(50% + 1px);
	left: -webkit-calc(50% + 1px);
	left: -o-calc(50% + 1px);
	left: calc(50% + 1px);
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

#control div.jog-panel.controls > div > button:first-of-type {
	margin-top: 14px;
	margin-bottom: 10px;
}

#control div.jog-panel.controls #control-jog-feedrate > button:first-of-type {
	margin-bottom: 10px;
}

#control > div.jog-panel.controls div.distance > div.show {
	width: 225px;
	display: inline-block;
}

#control div.jog-panel.controls > div div.slider > .slider-track {
	position: relative;
	left: -2px;
}

#control div.jog-panel.controls > div div.slider .slider-handle {
	margin-left: -9px;
}

#control > div.jog-panel.controls div.distance > div.show > button:nth-of-type(2) {
	margin-left: 0;
	-ms-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-o-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

#control div.jog-panel.extruder > div div.slider > .slider-track {
	position: relative;
	left: -1px;
}

#control div.jog-panel.extruder > div > div:first-of-type.show {
	display: block !important;
	width: 157px;
}

#control div.jog-panel.extruder > div > div:first-of-type.show > button {
	overflow: hidden;
	text-overflow: ellipsis;
}

#control div.jog-panel.extruder > div > div:first-of-type.show ul.dropdown-menu {
	min-width: auto;
	width: -ms-calc(100% - 2px);
	width: -moz-calc(100% - 2px);
	width: -webkit-calc(100% - 2px);
	width: -o-calc(100% - 2px);
	width: calc(100% - 2px);
}

#control div.jog-panel.extruder > div > div:first-of-type.show ul.dropdown-menu a {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#control div.jog-panel.extruder > div > div:first-of-type > button {
	width: 100%;
}

#control div.jog-panel.extruder > div > div:nth-of-type(3).show {
	display: inline-block !important;
}

#control div.jog-panel.extruder > div > button:nth-of-type(3).show {
	display: block !important;
}

#control div.jog-panel h1 {
	text-align: center;
}

#control div.jog-panel h1.heatbed {
	font-size: 14px;
	width: 80%;
	height: 30px;
	margin: -10px auto 10px auto;
	position: relative;
}

#control div.jog-panel h1.heatbed:nth-of-type(2) {
	margin-top: -15px;
	margin-bottom: 0px;
	top: -10px;
}

#control div.jog-panel > div.jog-panel > div {
	margin-left: 15px;
}

#control div.jog-panel.controls > div.jog-panel:nth-of-type(2) {
	position: relative;
	left: 8px;
}

#control div.jog-panel.controls > div > div:nth-of-type(1) > div {
	position: relative;
	left: 10px;
	height: 40px;
}

#control > div.jog-panel.controls div.distance {
	width: 1px;
	cursor: default;
}

#control div.jog-panel.extruder > div div.slider {
	width: 141px !important;
}

#control div.jog-panel.extruder > div div.slider .slider-handle {
	margin-left: -8px;
}

#control div.jog-panel.extruder > div > div > input {
	width: 109px !important;
}

#control div.jog-panel.filament {
	clear: left;
}

#control div.jog-panel.calibration button {
	width: 180px;
	float: left;
	white-space: nowrap;
}

#control div.jog-panel.calibration button:first-of-type, #control div.jog-panel.calibration button:nth-of-type(2), #control div.jog-panel.calibration button:nth-of-type(15), #control div.jog-panel.calibration button:nth-of-type(16), #control div.jog-panel.calibration button:nth-of-type(17), #control div.jog-panel.calibration button:nth-of-type(18), #control div.jog-panel.calibration button:nth-of-type(19), #control div.jog-panel.calibration button:nth-of-type(20), #control div.jog-panel.calibration button:nth-of-type(21) {
	width: 231px;
	clear: both;
}

#control div.jog-panel.calibration button:nth-of-type(2) {
	clear: both;
}

#control div.jog-panel.calibration button.arrow {
	width: 30px;
	height: 30px;
}

#control div.jog-panel.calibration button.arrow:not(.point) {
	clear: both;
	margin-right: 8px;
}

#control div.jog-panel.calibration button.arrow.point {
}

#control div.jog-panel.calibration button:nth-of-type(5), #control div.jog-panel.calibration button:nth-of-type(8), #control div.jog-panel.calibration button:nth-of-type(11), #control div.jog-panel.calibration button:nth-of-type(14) {
	position: relative;
	left: 8px;
	width: 155px;
}

#control div.jog-panel.calibration > div > button:nth-of-type(3) > i {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
	position: relative;
	top: 1px;
}

#control div.jog-panel.calibration > div > button:nth-of-type(6) > i {
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	position: relative;
	top: 1px;
	left: 1px;
}

#control div.jog-panel.calibration > div > button:nth-of-type(9) > i {
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	display: inline-block;
	position: relative;
	top: 1px;
	left: 1px;
}

#control div.jog-panel.calibration > div > button:nth-of-type(12) > i {
	-ms-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	display: inline-block;
	position: relative;
	top: 0px;
}

#control div.jog-panel.advanced button > img {
	width: 23px;
	height: 23px;
	position: relative;
	top: -1px;
	left: -8px;
}

#control div.jog-panel.calibration input, #control div.jog-panel.advanced input, #navbar_plugin_m33fio input {
	display: none;
}

#control div.jog-panel.advanced button.firmware {
	height: auto;
}

#control div.jog-panel.advanced button.placeHolder {
	display: none;
}

#control div.jog-panel.advanced p {
	font-size: 12px;
	max-width: 175px;
}

#control div.jog-panel.eeprom {
	text-align: center;
	width: 100%;
	clear: both;
}

#control div.jog-panel.eeprom button {
	margin: 3px 5px 10px 5px;
	display: inline-block;
}

#control div.jog-panel.eeprom table {
	margin: 0 auto;
	font: normal 10px monospace;
}

#control div.jog-panel.eeprom tr, td {
	padding: 0;
	margin: 0;
}

#control div.jog-panel.eeprom tbody > tr:first-child td {
	padding-bottom: 2px;
	cursor: default;
}

#control div.jog-panel.eeprom tr > td:first-child {
	position: relative;
	top: 1px;
	cursor: default;
	padding-right: 4px;
	text-align: right;
}

#control div.jog-panel.eeprom input {
	width: 19px;
	height: 19px;
	padding: 3px 2px 1px 2px;
	margin: 2px;
	font: normal 10px monospace;
	text-align: center;
}

#control div.jog-panel.eeprom input.macOs {
	padding: 0 2px 2px 2px;
}

#control div.jog-panel.eeprom input:disabled {
	cursor: default;
	background-color: #EEE !important;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

#control div.jog-panel.eeprom input[type="radio"] {
	position: relative;
	top: 1px;
	width: 13px;
	height: 19px;
}

#control div.jog-panel.eeprom input[type="radio"].macOs {
	top: 0;
}

#control div.jog-panel.eeprom input[type="radio"] + label {
	padding-right: 10px;
	display: inline;
	position: relative;
	top: 2px;
}

#control div.jog-panel.eeprom input[type="radio"]:disabled + label {
	cursor: default;
}

.show:not(.notMicro3DApplicable) {
	visibility: visible !important;
	opacity: 1 !important;
}

#control .heatbed, #settings_plugin_m33fio .heatbed, #settings_plugin_m33fio .camera, #settings_plugin_m33fio .sharedLibrary, #settings_plugin_m33fio .gpio, #control > div.jog-panel.general button.gpio {
	display: none;
}

#control button.current:not(:disabled) {
	border-color: rgba(82, 168, 236, 0.8);
	-ms-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
	-o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), inset 0 0 8px rgba(82, 168, 236, 0.6);
}

#control div.custom_section:first-of-type {
	padding-top: 10px;
}

body > div.page-container > div.message {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	visibility: hidden;
	opacity: 0;
	top: 0;
	left: 0;
	z-index: -1;
	-ms-transition: visibility 0.3s linear, opacity 0.3s linear;
	-moz-transition: visibility 0.3s linear, opacity 0.3s linear;
	-webkit-transition: visibility 0.3s linear, opacity 0.3s linear;
	-o-transition: visibility 0.3s linear, opacity 0.3s linear;
	transition: visibility 0.3s linear, opacity 0.3s linear;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	user-select: none;
	overflow: hidden;
}

body > div.page-container > div.message > div {
	margin: auto auto;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
}

body > div.page-container > div.message > div > h4 {
	border: 1px solid #e5e5e5;
	color: #08c;
	-ms-border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	-o-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	font-weight: normal;
	border-bottom: none;
	margin: 1px 1px 0 1px;
	padding: 8px 40px 8px 12px;
	line-height: 20px;
	min-height: 20px;
}

body > div.page-container > div.message > div > img {
	width: 30px;
	height: 30px;
	position: absolute;
	right: 5px;
	top: 5px;
	visibility: hidden;
}

body > div.page-container > div.message > div > div > p {
	overflow: auto;
	overflow-x: hidden;
	max-height: 500px;
}

body > div.page-container > div.message > div > div > p img {
	width: 90%;
	height: auto;
	display: block;
	margin: 2px auto;
	border: 1px solid white;
	-ms-box-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 3px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 2px rgba(0, 0, 0, 1), 0 0 3px rgba(0, 0, 0, 0.2);
	background-color: white;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

body > div.page-container > div.message > div > div > p span.backlash {
	display: block;
	text-align: center;
}

body > div.page-container > div.message > div > div > p span.backlash > button {
	display: inline;
	width: 140px;
	margin: 2px;
}

body > div.page-container > div.message > div > div > p:not(.show) {
	height: 0px;
	visibility: hidden;
}

body > div.page-container > div.message > div > div {
	border: 1px solid #e5e5e5;
	-ms-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	-o-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	margin: 0 1px 1px 1px;
	padding: 8px 12px 33px 12px;
	min-width: 200px;
	max-width: 500px;
}

body > div.page-container > div.message > div > div.loading {
	padding-bottom: 0;
}

body > div.page-container > div.message > div > div > div:not(.calibrate) {
	position: relative;
	left: 10px;
	padding-bottom: 2px;
}

body > div.page-container > div.message > div > div > div:not(.calibrate):not(.printSettings):not(.filamentSettings) {
	float: right;
	white-space: nowrap;
}

body > div.page-container > div.message > div > div > div:not(.show) {
	height: 0;
}

body > div.page-container > div.message > div > div > div:not(.calibrate) > button {
	display: inline;
	min-width: 70px;
	width: auto;
	padding-right: 10px;
	padding-left: 10px;
	visibility: hidden;
	margin: 0 1px 0 0;
	white-space: nowrap;
}

body > div.page-container > div.message > div > div > div.calibrate, body > div.page-container > div.message > div > div > div.printSettings, body > div.page-container > div.message > div > div > div.filamentSettings {
	visibility: hidden;
	position: relative;
	top: -2px;
	padding-bottom: 7px;
}

body > div.page-container > div.message > div > div > div.calibrate > div {
	text-align: center;
}

body > div.page-container > div.message > div > div > div.calibrate > div.arrows {
	margin-bottom: 6px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.arrows > button {
	display: inline;
	width: 30px;
	margin: 0 3px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.distance > button {
	display: inline;
	margin: 0 -2px;
	-ms-border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	width: 49px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.distance > button:first-of-type {
	-ms-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
}

body > div.page-container > div.message > div > div > div.calibrate > div.distance > button:last-of-type {
	-ms-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
}

body > div.page-container > div.message > div > div > div.printSettings, body > div.page-container > div.message > div > div > div.filamentSettings {
	width: 100%;
	display: block;
	right: auto;
	left: auto;
	margin: 0;
	padding: 0;
	top: 4px;
}

body > div.page-container > div.message > div > div > div.printSettings {
	margin-bottom: -4px;
}

body > div.page-container > div.message > div > div > div.printSettings h3, body > div.page-container > div.message > div > div > div.filamentSettings h3 {
	text-align: center;
	font-size: 20px;
	margin: 0;
	padding: 0;
	line-height: 20px;
	position: relative;
	top: -14px;
}

body > div.page-container > div.message > div > div > div.printSettings label, body > div.page-container > div.message > div > div > div.printSettings div.controls, body > div.page-container > div.message > div > div > div.filamentSettings label, body > div.page-container > div.message > div > div > div.filamentSettings div.controls {
	display: inline-block;
}

body > div.page-container > div.message > div > div > div.printSettings label, body > div.page-container > div.message > div > div > div.filamentSettings label {
	cursor: default;
}

body > div.page-container > div.message > div > div > div.printSettings input, body > div.page-container > div.message > div > div > div.printSettings input + span, body > div.page-container > div.message > div > div > div.filamentSettings input, body > div.page-container > div.message > div > div > div.filamentSettings input + span {
	position: relative;
	top: -10px;
}

body > div.page-container > div.message > div > div > div.printSettings input, body > div.page-container > div.message > div > div > div.filamentSettings input {
	width: 145px;
}

body > div.page-container > div.message > div > div > div.printSettings div.heatbed input {
	width: 146px;
}

body > div.page-container > div.message > div > div > div.filamentSettings p {
	text-align: center;
	font-size: 14px;
	cursor: default;
	margin-top: -10px;
}

body > div.page-container > div.message > div > div > div.filamentSettings p > ul {
	display: inline;
	margin: 0;
	list-style-type: none;
	font-size: 13px;
	color: #999;
}

body > div.page-container > div.message > div > div > div.printSettings label[title] {
	cursor: pointer;
	min-height: auto;
	height: 10px;
	margin-bottom: 0px;
}

body > div.page-container > div.message > div > div > div.printSettings input[type="checkbox"] {
	width: 13px;
	height: 30px;
	position: relative;
	top: -18px;
}

body > div.page-container > div.message > div > div > span {
	font-size: 9px;
	color: #999;
	display: none;
}

body > div.page-container > div.message > div > div > span.show {
	display: inline-block;
}

body > div.page-container > div.message .customInput {
	text-align: center;
	margin: 10px 0 0 0;
}

body > div.page-container > div.message .customInput input {
	width: 100px;
}

#slicing_configuration_dialog.cura .slic3r-only {
	display: none;
}

#slicing_configuration_dialog.slic3r .cura-only {
	display: none;
}

#slicing_configuration_dialog.profile, #slicing_configuration_dialog.model {
	width: 80% !important;
	max-width: 900px !important;
	position: absolute; !important;
	left: 50% !important;
	margin: 0 !important;
	-ms-transform: translate(-50%, -50%) !important;
	-moz-transform: translate(-50%, -50%) !important;
	-webkit-transform: translate(-50%, -50%) !important;
	-o-transform: translate(-50%, -50%) !important;
	transform: translate(-50%, -50%) !important;
	max-height: -ms-calc(100% - 30px) !important;
	max-height: -webkit-calc(100% - 30px) !important;
	max-height: -moz-calc(100% - 30px) !important;
	max-height: -o-calc(100% - 30px) !important;
	max-height: calc(100% - 30px) !important;
	overflow: hidden !important;
}

#slicing_configuration_dialog.profile.in, #slicing_configuration_dialog.model.in {
	top: 50% !important;
}

#slicing_configuration_dialog.profile {
	max-width: 850px !important;
	min-width: 810px !important;
	min-height: 137px !important;
}

#slicing_configuration_dialog.profile.transitionHeight {
	-ms-transition: height 0.3s ease-out !important;
	-moz-transition: height 0.3s ease-out !important;
	-webkit-transition: height 0.3s ease-out !important;
	-o-transition: height 0.3s ease-out !important;
	transition: height 0.3s ease-out !important;
}

#slicing_configuration_dialog.model {
	min-height: 569px !important;
	height: -ms-calc(100% - 30px) !important;
	height: -moz-calc(100% - 30px) !important;
	height: -webkit-calc(100% - 30px) !important;
	height: -o-calc(100% - 30px) !important;
	height: calc(100% - 30px) !important;
	min-width: 540px !important;
}

#slicing_configuration_dialog .modal-footer a.save {
	float: left;
	position: relative;
	left: -5px;
}

#slicing_configuration_dialog .modal-footer p.warning {
	position: absolute;
	left: 50%;
	bottom: 17px;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	margin: 0;
	font-size: 9px;
	color: #999;
	cursor: default;
}

#slicing_configuration_dialog .modal-footer a.link, #slicing_configuration_dialog:not(.model):not(.profile) .modal-footer a.save, #slicing_configuration_dialog:not(.profile) .modal-footer a.skip {
	display: none;
}

#slicing_configuration_dialog.model .modal-extra {
	margin-bottom: -5px;
	z-index: -1;
	position: relative;
}
#slicing_configuration_dialog.profile .modal-extra {
	overflow: auto !important;
	overflow-x: hidden !important;
	max-height: -ms-calc(100% - 123px);
	max-height: -moz-calc(100% - 123px);
	max-height: -webkit-calc(100% - 123px);
	max-height: -o-calc(100% - 123px);
	max-height: calc(100% - 123px);
}

#slicing_configuration_dialog.profile .modal-extra div.advanced {
	width: 100%;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	height: 200px;
}

#slicing_configuration_dialog.profile .modal-extra div.advanced.fullSpace {
	height: 400px;
	border-top: none !important;
}

#slicing_configuration_dialog.profile .modal-extra div.groups {
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#slicing_configuration_dialog.profile .modal-extra div.groups p {
	text-align: center;
	line-height: 10px;
	margin: 12px 0 6px 0;
}

#slicing_configuration_dialog.profile .modal-extra div.groups button {
	padding: 0;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	outline: none;
	-ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-ms-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	-moz-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	-webkit-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	-o-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	position: relative;
	width: 80px;
	height: 70px;
}

#slicing_configuration_dialog .groups button img {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: -ms-calc(100% - 9px);
	width: -moz-calc(100% - 9px);
	width: -webkit-calc(100% - 9px);
	width: -o-calc(100% - 9px);
	width: calc(100% - 9px);
	height: auto;
}

#slicing_configuration_dialog .groups p:not(:first-of-type) {
	margin-top: 10px;
}

#slicing_configuration_dialog .groups .group {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#slicing_configuration_dialog .group {
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	-ms-box-shadow: inset 0 1px 0 #fff;
	-moz-box-shadow: inset 0 1px 0 #fff;
	-webkit-box-shadow: inset 0 1px 0 #fff;
	-o-box-shadow: inset 0 1px 0 #fff;
	box-shadow: inset 0 1px 0 #fff;
	padding: 3px 0;
	position: relative;
	-ms-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-webkit-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
	overflow: hidden;
}

#slicing_configuration_dialog .group > i {
	width: 13px;
	height: 18px;
	position: absolute;
	left: 2px;
	top: -6px;
	cursor: pointer;
	font-size: 23px;
	overflow: hidden;
}

#slicing_configuration_dialog .group > i.edge {
	top: -5px;
}

#slicing_configuration_dialog .group > i.icon-caret-up {
	top: -7px;
	height: 20px;
}

#slicing_configuration_dialog .group > i.icon-caret-up.edge {
	top: -6px;
}

#slicing_configuration_dialog .group.basic {
	border-top: none;
	height: 217px;
}

#slicing_configuration_dialog.slic3r .group.basic {
	height: 415px;
}

#slicing_configuration_dialog .group.manual {
	height: 120px;
}

#slicing_configuration_dialog.slic3r .group.manual {
	height: 157px;
}

#slicing_configuration_dialog .group.advanced {
	background-color: transparent;
}

#slicing_configuration_dialog .group.advanced h3:after, #slicing_configuration_dialog .group.advanced h3::after {
	content: "";
	background-color: #f5f5f5;
	width: 100%;
	height: 15px;
	display: block;
	position: absolute;
	top: -5px;
	left: -16px;
	z-index: -1;
}

#slicing_configuration_dialog .group.closed {
	height: 8px !important;
}

#slicing_configuration_dialog .group.advanced.closed {
	height: 7px !important;
}

#slicing_configuration_dialog .group h3 {
	position: absolute;
	top: -5px;
	left: 16px;
	font-size: 12px;
	font-weight: bold;
	cursor: default;
	width: 100%;
	text-align: left;
}

#slicing_configuration_dialog .group h3.windows, #slicing_configuration_dialog .group h3.macOs {
	top: -4px;
}

#slicing_configuration_dialog .groups div:not(.group) {
	width: 100%;
	margin: 0 auto;
	display: block;
	text-align: center;
}

#slicing_configuration_dialog.cura .groups .slic3r-only {
	display: none;
}

#slicing_configuration_dialog .groups .settings {
	margin: 1px 0 -1px 0;
	white-space: nowrap;
}

#slicing_configuration_dialog .groups .settings label {
	display: inline-block;
	margin: 4px 8px 0 8px;
}

#slicing_configuration_dialog.cura .groups .settings label.slic3r-only {
	display: none;
}

#slicing_configuration_dialog.slic3r .groups .settings label.cura-only {
	display: none;
}

#slicing_configuration_dialog .groups .settings input {
	position: relative;
	top: -3px;
	right: 2px;
}

#slicing_configuration_dialog .groups .settings input[type="checkbox"]:focus {
	outline: none;
}

#slicing_configuration_dialog .group.manual .wrapper {
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	margin-top: 11px;
	height: 120px;
}

#slicing_configuration_dialog.slic3r .group.manual .wrapper {
	height: 157px;
}

#slicing_configuration_dialog .group.manual .option {
	display: inline-block;
	width: 33.3333%;
	margin: 3px auto;
	height: 30px;
}

#slicing_configuration_dialog .group.manual .option.disabled {
	display: none;
}

#slicing_configuration_dialog.slic3r .group.manual .option.cura-only {
	display: none;
}

#slicing_configuration_dialog.cura .group.manual .option.slic3r-only {
	display: none;
}

#slicing_configuration_dialog .group.manual label {
	display: inline-block;
	margin-top: 4px;
}

#slicing_configuration_dialog .group.manual .input-append {
	display: inline;
}

#slicing_configuration_dialog .group.manual input {
	display: inline;
	width: 50px;
	margin-left: 3px;
}

#slicing_configuration_dialog .group.advanced > div {
	width: 100%;
	height: 100%;
	overflow: visible;
	display: -ms-flex;
	display: -moz-flex;
	display: -webkit-flex;
	display: -o-flex;
	display: flex;
	margin-top: 11px;
}

#slicing_configuration_dialog .group.advanced > span {
	width: 100%;
	display: none;
	height: 16px;
	background-color: white;
	position: absolute;
	margin-top: -10px;
	bottom: -1px;
	left: 0;
}

#slicing_configuration_dialog .group.advanced > span.firefox {
	height: 11px;
}

#slicing_configuration_dialog .group.advanced aside {
	float: left;
	font: normal 12px monospace;
	height: 100%;
	background-color: white;
	overflow: hidden;
	text-align: right;
	padding: 2px 5px;
	color: #555;
	position: relative;
	z-index: -1;
}

#slicing_configuration_dialog .group.advanced textarea {
	resize: none;
	font: normal 12px monospace;
	white-space: pre;
	word-wrap: normal;
	-ms-flex-grow: 1;
	-moz-flex-grow: 1;
	-webkit-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;
	width: 100% !important;
	height: -ms-calc(100% - 12px) !important;
	height: -moz-calc(100% - 12px) !important;
	height: -webkit-calc(100% - 12px) !important;
	height: -o-calc(100% - 12px) !important;
	height: calc(100% - 12px) !important;
	padding: 2px 2px 2px 5px !important;
	margin: 0 !important;
	-ms-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-webkit-box-shadow: none !important;
	-o-box-shadow: none !important;
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
	border-left: 1px solid #ccc !important;
	-ms-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	-webkit-border-radius: 0 !important;
	-o-border-radius: 0 !important;
	border-radius: 0 !important;
	overflow: scroll;
	position: relative;
	z-index: 1;
	color: #333;
}

#slicing_configuration_dialog .group.advanced textarea.firefox {
	height: -ms-calc(100% - 8px) !important;
	height: -moz-calc(100% - 8px) !important;
	height: -webkit-calc(100% - 8px) !important;
	height: -o-calc(100% - 8px) !important;
	height: calc(100% - 8px) !important;
	padding: 0px 2px 0px 5px !important;
}

#slicing_configuration_dialog .modal-drag-and-drop {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	background-color: rgba(255, 255, 255, 0.25);
	border: 3px dotted rgba(200, 200, 200, 0);
	z-index: 9999;
	visibility: hidden;
	opacity: 0;
	-ms-transition: visibility 0.2s linear, opacity 0.2s linear, border-color 0.2s linear;
	-moz-transition: visibility 0.2s linear, opacity 0.2s linear, border-color 0.2s linear;
	-webkit-transition: visibility 0.2s linear, opacity 0.2s linear, border-color 0.2s linear;
	-o-transition: visibility 0.2s linear, opacity 0.2s linear, border-color 0.2s linear;
	transition: visibility 0.2s linear, opacity 0.2s linear, border-color 0.2s linear;
}

#slicing_configuration_dialog .modal-drag-and-drop.show {
	visibility: visible;
	opacity: 1;
	border-color: rgba(200, 200, 200, 0.9);
}

#slicing_configuration_dialog .modal-cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	visibility: hidden;
	opacity: 0;
	z-index: -1;
	-ms-transition: visibility 0.2s linear, opacity 0.2s linear;
	-moz-transition: visibility 0.2s linear, opacity 0.2s linear;
	-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
	-o-transition: visibility 0.2s linear, opacity 0.2s linear;
	transition: visibility 0.2s linear, opacity 0.2s linear;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

#slicing_configuration_dialog .modal-cover * {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #222;
	margin: 21px 0 0 0;
	padding: 0;
	cursor: default;
	white-space: nowrap;
}

#slicing_configuration_dialog .modal-cover img {
	margin-top: -21px;
}

#slicing_configuration_dialog h3 {
	margin: 11px 0 3px 1px;
	line-height: 0;
	font-size: 16px;
	font-weight: normal;
}

#slicing_configuration_dialog p.currentMenu {
	line-height: 30px;
	font-size: 24.5px;
	font-family: inherit;
	font-weight: bold;
	color: inherit;
	display: block;
}

#slicing_configuration_dialog.model .modal-extra input[type="file"] {
	display: none;
}

#slicing_configuration_dialog.model .modal-extra > div {
	position: absolute;
	top: 0;
	left: 50%;
	-ms-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -ms-inline-flex;
	display: -moz-inline-flex;
	display: -webkit-inline-flex;
	display: -o-inline-flex;
	display: inline-flex;
	-ms-flex-direction: row;
	-moz-flex-direction: row;
	-webkit-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	margin: 0;
	padding: 0;
	z-index: 1;
}

#slicing_configuration_dialog.model .modal-extra > div.filament {
	left: auto;
	right: 0;
	top: -ms-calc(50% - 2px);
	top: -moz-calc(50% - 2px);
	top: -webkit-calc(50% - 2px);
	top: -o-calc(50% - 2px);
	top: calc(50% - 2px);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#slicing_configuration_dialog.model .modal-extra > div.model {
	left: 0;
	top: -ms-calc(50% - 2px);
	top: -moz-calc(50% - 2px);
	top: -webkit-calc(50% - 2px);
	top: -o-calc(50% - 2px);
	top: calc(50% - 2px);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

#slicing_configuration_dialog.model .modal-extra > div.display {
	bottom: 7px;
	top: auto;
}

#slicing_configuration_dialog.model .modal-extra > div.measurements {
	left: auto;
	right: auto;
	top: auto;
	bottom: auto;
	z-index: 0;
}

#slicing_configuration_dialog.model .modal-extra > div.measurements > p {
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
	visibility: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	-ms-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-moz-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-webkit-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	-o-text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	white-space: nowrap;
}

#slicing_configuration_dialog.model .modal-extra > div.values {
	left: 60px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-ms-flex-direction: column;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-transition: top 0.3s ease-out;
	-moz-transition: top 0.3s ease-out;
	-webkit-transition: top 0.3s ease-out;
	-o-transition: top 0.3s ease-out;
	transition: top 0.3s ease-out;
}

#slicing_configuration_dialog.model .modal-extra > div.values.translate {
	top: -ms-calc(50% - 160px);
	top: -moz-calc(50% - 160px);
	top: -webkit-calc(50% - 160px);
	top: -o-calc(50% - 160px);
	top: calc(50% - 160px);
}

#slicing_configuration_dialog.model .modal-extra > div.values.rotate {
	top: -ms-calc(50% - 116px);
	top: -moz-calc(50% - 116px);
	top: -webkit-calc(50% - 116px);
	top: -o-calc(50% - 116px);
	top: calc(50% - 116px);
}

#slicing_configuration_dialog.model .modal-extra > div.values.scale {
	top: -ms-calc(50% - 74px);
	top: -moz-calc(50% - 74px);
	top: -webkit-calc(50% - 74px);
	top: -o-calc(50% - 74px);
	top: calc(50% - 74px);
}

#slicing_configuration_dialog.model .modal-extra > div.cutShape {
	left: 60px;
	top: -ms-calc(50% + 148px);
	top: -moz-calc(50% + 148px);
	top: -webkit-calc(50% + 148px);
	top: -o-calc(50% + 148px);
	top: calc(50% + 148px);
	-ms-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}

#slicing_configuration_dialog.model .modal-extra > div.cutShape.show {
	display: block;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div, #slicing_configuration_dialog.model .modal-extra > div.cutShape > div {
	padding: 7px;
	margin: 0 0 -9px 9px;
	background-color: #f5f5f5;
	border: 1px solid rgba(0,0,0,0.3);
	-ms-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-o-border-radius: 15px;
	border-radius: 15px;
	-ms-box-shadow: 0 0 6px #B2B2B2;
	-moz-box-shadow: 0 0 6px #B2B2B2;
	-webkit-box-shadow: 0 0 6px #B2B2B2;
	-o-box-shadow: 0 0 6px #B2B2B2;
	box-shadow: 0 0 6px #B2B2B2;
	position: relative;
	color: white;
	display: none;
}

#slicing_configuration_dialog.model .modal-extra > div.cutShape > div {
	padding: 4px;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div.show, #slicing_configuration_dialog.model .modal-extra > div.cutShape > div {
	display: block;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > span, #slicing_configuration_dialog.model .modal-extra > div.cutShape > div > span {
	background-color: #f5f5f5;
	z-index: 0;
	display: block;
	height: 16px;
	position: absolute;
	top: -ms-calc(50% - 8px);
	top: -moz-calc(50% - 8px);
	top: -webkit-calc(50% - 8px);
	top: -o-calc(50% - 8px);
	top: calc(50% - 8px);
	-ms-transform: rotate(29deg) skew(-35deg);
	-moz-transform: rotate(29deg) skew(-35deg);
	-webkit-transform: rotate(29deg) skew(-35deg);
	-o-transform: rotate(29deg) skew(-35deg);
	transform: rotate(29deg) skew(-35deg);
	width: 20px;
	-ms-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
	-moz-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
	-webkit-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
	-o-box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
	box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
	left: -12px;
	border-left: 1px solid rgba(0,0,0,0.3);
	border-bottom: 1px solid rgba(0,0,0,0.3);
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p {
	font: normal 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	display: none;
	position: relative;
	z-index: 1;
	color: #333;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p.show {
	display: block;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > button.close {
	color: rgba(0, 0, 0, 0.7);
	opacity: 1;
	position: absolute;
	top: -12px;
	right: -9px;
	margin: 0;
	-ms-text-shadow: none;
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-o-text-shadow: none;
	-ms-border-radius: 45px;
	-moz-border-radius: 45px;
	-webkit-border-radius: 45px;
	-o-border-radius: 45px;
	border-radius: 45px;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > button.close > div {
	background-color: #f5f5f5;
	position: absolute;
	top: 8px;
	left: 4px;
	z-index: -1;
	width: 10px;
	height: 10px;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p > input {
	width: 75px;
	height: 15px;
	text-align: left;
	-ms-border-radius: 4px 0 0 4px;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	-o-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;
	padding: 4px 4px 3px 4px;
	margin: 0 0 5px 5px;
	vertical-align: middle;
	line-height: 16px;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p > span.axis {
	-ms-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	-o-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
	cursor: default;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p > span.axis.x {
	color: #F00;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p > span.axis.y {
	color: #0F0;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p > span.axis.z {
	color: #00F;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p > span:not(.axis) {
	-ms-border-radius: 0 4px 4px 0;
	-moz-border-radius: 0 4px 4px 0;
	-webkit-border-radius: 0 4px 4px 0;
	-o-border-radius: 0 4px 4px 0;
	border-radius: 0 4px 4px 0;
	border: 1px solid #ccc;
	border-left: none;
	line-height: 22px;
	height: 22px;
	color: #555;
	vertical-align: middle;
	-ms-text-shadow: 0 1px 0 #fff;
	-moz-text-shadow: 0 1px 0 #fff;
	-webkit-text-shadow: 0 1px 0 #fff;
	-o-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
	background-color: #eee;
	position: relative;
	top: 0;
	padding: 0 2px;
	margin: 0;
	cursor: default;
	display: inline-block;
	float: right;
}

#slicing_configuration_dialog.model .modal-extra > div.values > div > p:nth-of-type(3) {
	margin-bottom: -5px;
}

#slicing_configuration_dialog.model .modal-extra > div.values.scale > div > p > span:not(.axis) {
	width: 15px;
	cursor: pointer;
	text-align: center;
	font-family: FontAwesome, sans-serif;
}

#slicing_configuration_dialog.model .modal-extra > div button:not(.close) {
	display: block;
	cursor: pointer;
	width: 40px;
	height: 40px;
	margin: 2px 4px;
	position: relative;
	padding: 0;
	-ms-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	outline: none;
	-ms-flex-shrink: 0;
	-moz-flex-shrink: 0;
	-webkit-flex-shrink: 0;
	-o-flex-shrink: 0;
	flex-shrink: 0;
	-ms-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .2), 0 1px 2px rgba(0, 0, 0, .05);
	-ms-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	-moz-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	-webkit-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	-o-background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	background-image: linear-gradient(to bottom, #fff, #e6e6e6);
	z-index: 1;
}

#slicing_configuration_dialog.model .modal-extra > div.printer button {
	margin: 4px 2px;
}

#slicing_configuration_dialog.model .modal-extra > div button::-moz-focus-inner {
	border: 0 !important;
}

#slicing_configuration_dialog.model .modal-extra > div button img {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	height: auto;
}

#slicing_configuration_dialog.model .modal-extra > div.printer > button > img {
	width: 90%;
}

#slicing_configuration_dialog.model .modal-extra > div.filament > button > img {
	top: 50%;
	left: 50%;
	height: -ms-calc(100% - 2px);
	height: -moz-calc(100% - 2px);
	height: -webkit-calc(100% - 2px);
	height: -o-calc(100% - 2px);
	height: calc(100% - 2px);
	width: 12px;
}

#slicing_configuration_dialog.model .modal-extra > div.filament > button > span {
	width: 10px;
	left: -ms-calc(50% - 5px);
	left: -moz-calc(50% - 5px);
	left: -webkit-calc(50% - 5px);
	left: -o-calc(50% - 5px);
	left: calc(50% - 5px);
	height: 30px;
	display: block;
	position: relative;
}

#slicing_configuration_dialog.model .modal-extra > div > button[disabled], #slicing_configuration_dialog.model .modal-extra > div > button.disabled.delete, #slicing_configuration_dialog.model .modal-extra > div > button.disabled.clone, #slicing_configuration_dialog.model .modal-extra > div > button.disabled.reset, #slicing_configuration_dialog.model .modal-extra > div > button.disabled.merge, #slicing_configuration_dialog.model .modal-extra > div > button.cut.off {
	opacity: 0.5;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

#slicing_configuration_dialog .modal-extra > div button:not(.close):active, #slicing_configuration_dialog .modal-extra > div button.disabled {
	background-image: none !important;
	background-color: #e6e6e6 !important;
	-ms-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	-o-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05) !important;
}

#control > div.jog-panel {
	position: relative;
	-ms-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-webkit-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
}

#control > div.jog-panel > h1 {
	cursor: default;
}

#control > div.jog-panel > i {
	width: 20px;
	height: 20px;
	position: absolute;
	bottom: -15px;
	left: -ms-calc(50% - 10px);
	left: -moz-calc(50% - 10px);
	left: -webkit-calc(50% - 10px);
	left: -o-calc(50% - 10px);
	left: calc(50% - 10px);
	cursor: pointer;
	z-index: 1;
	-ms-transition: bottom 0.3s ease-out;
	-moz-transition: bottom 0.3s ease-out;
	-webkit-transition: bottom 0.3s ease-out;
	-o-transition: bottom 0.3s ease-out;
	transition: bottom 0.3s ease-out;
	font-size: 32px;
	line-height: 17px;
	overflow: hidden;
}

#control > div.jog-panel.closed > i {
	bottom: -6px;
}

#control > div.jog-panel > div {
	-ms-transition: height 0.3s ease-out;
	-moz-transition: height 0.3s ease-out;
	-webkit-transition: height 0.3s ease-out;
	-o-transition: height 0.3s ease-out;
	transition: height 0.3s ease-out;
	overflow: hidden;
}

#control div.jog-panel.controls > div > div.jog-panel:first-of-type {
	margin-right: 40px !important;
}

#control div.jog-panel.controls > div > div.jog-panel:nth-of-type(2) {
	left: 18px;
	position: relative;
	padding-right: 23px;
	margin-right: 0;
}

#control > div.jog-panel.controls > div h1 {
	font-size: 14px;
	margin-top: -10px;
	position: relative;
	right: 4px;
}

#control > div.jog-panel.controls > div:first-of-type h1 {
	margin-left: 10px;
}

#control div.jog-panel.controls > div > div.jog-panel:nth-of-type(2) h1 {
	right: 15px;
}

#control > div.jog-panel.closed > div {
	height: 0px;
	-ms-pointer-events: none;
	-moz-pointer-events: none;
	-webkit-pointer-events: none;
	-o-pointer-events: none;
	pointer-events: none;
}

#control {
	padding-bottom: 10px;
}

#control button.btn.btn-block {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

#control div.jog-panel.controls button.btn.btn-block {
	width: 169px;
}

#control div.jog-panel.extruder button.btn.btn-block {
	width: 157px;
}

#control div.jog-panel.general button.btn.btn-block {
	width: 140px;
}

#control div.jog-panel.filament button.btn.btn-block {
	width: 125px;
}

#control div.jog-panel.advanced button.btn.btn-block {
	width: 175px;
}

#control div.jog-panel.advanced button.btn.btn-block.firmware {
	white-space: normal;
}

#control div.jog-panel.eeprom button.btn.btn-block{
	width: 150px;
}

#temperature-graph {
	-ms-transition: background-image 0.3s ease-out;
	-moz-transition: background-image 0.3s ease-out;
	-webkit-transition: background-image 0.3s ease-out;
	-o-transition: background-image 0.3s ease-out;
	transition: background-image 0.3s ease-out;
}

#temperature-graph.micro3dImage {
	background-image: url("../img/graph-background.png");
}

#model > div {
	height: 500px;
	padding-bottom: 8px;
	padding-top: 6px;
}

#model > div > div {
	border: 1px solid rgba(0, 0, 0,0.15);
	background-color: #f5f5f5;
	height: 100%;
	-ms-border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	position: relative;
	overflow: hidden;
}

#model .cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	-ms-transition: visibility 0.2s linear, opacity 0.2s linear;
	-moz-transition: visibility 0.2s linear, opacity 0.2s linear;
	-webkit-transition: visibility 0.2s linear, opacity 0.2s linear;
	-o-transition: visibility 0.2s linear, opacity 0.2s linear;
	transition: visibility 0.2s linear, opacity 0.2s linear;
	-ms-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
}

#model .cover * {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 17px;
	color: #222;
	margin: 21px 0 0 0;
	padding: 0;
	cursor: default;
	white-space: nowrap;
}

#model .cover img {
	margin-top: -21px;
}

#model .cover.noLoading * {
	margin: 0;
	width: 60%;
	white-space: normal;
	text-align: center;
	line-height: 24px;
}

#model .cover.noLoading img {
	display: none;
}

#files div.gcode_files div.entry .action-buttons div.btn-mini.viewModel {
	width: 11px;
}

.icon-view:before, .icon-view::before {
	content: "\F06E";
}

.noTransition {
	-ms-transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

.notUsingAMicro3DPrinter, .usingAMicro3DPrinter, .notUsingAHeatbed, .dontShow, .noPrinterModel {
	display: none !important;
}

body.grab, body.grab * {
	cursor: grab !important;
}

body.grabbing, body.grabbing * {
	cursor: grabbing !important;
}

body.progress, body.progress * {
	cursor: progress !important;
}
