<form class="form-horizontal">
	<div class="control-group">
		<h4>Pre-Processor Stages</h4>
		<div class="controls">
			<label class="checkbox" title="Positions the model in the middle of the bed according to the model's maximum and minimum dimensions">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseCenterModelPreprocessor"><span>Center Model</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Removes invalid G-codes">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseValidationPreprocessor"><span>Validation</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adds in G-code intro and outro">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UsePreparationPreprocessor"><span>Preparation</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Removes all existing temperature and fan controls and sets the temperature to be higher and adds dwell times to the first few layers">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseThermalBondingPreprocessor"><span>Thermal Bonding</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Smooths out the bottom layer">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseWaveBondingPreprocessor"><span>Wave Bonding</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adjusts Z values to account for bed offsets">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseBedCompensationPreprocessor"><span>Bed Compensation</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adjusts X and Y values to account for backlash when directions change">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseBacklashCompensationPreprocessor"><span>Backlash Compensation</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Converts feed rates to match what the printer expects">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseFeedRateConversionPreprocessor"><span>Feed Rate Conversion</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<h4>Printer Settings</h4>
		<div class="controls">
			<label class="checkbox">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.AutomaticSettingsUpdate"><span>Update printer settings automatically when a Micro 3D printer connects</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Backlash X</label>
		<div class="controls">
			<input type="number" step="0.0001" min="0" max="2" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BacklashX">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Backlash Y</label>
		<div class="controls">
			<input type="number" step="0.0001" min="0" max="2" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BacklashY">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Backlash Speed</label>
		<div class="controls">
			<input type="number" step="0.0001" min="1" max="4999" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BacklashSpeed">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Left Orientation</label>
		<div class="controls">
			<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackLeftOrientation">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Right Orientation</label>
		<div class="controls">
			<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackRightOrientation">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Right Orientation</label>
		<div class="controls">
			<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontRightOrientation">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Left Orientation</label>
		<div class="controls">
			<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontLeftOrientation">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Bed Height Offset</label>
		<div class="controls">
			<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BedHeightOffset">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Left Offset</label>
		<div class="controls">
			<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackLeftOffset">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Right Offset</label>
		<div class="controls">
			<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackRightOffset">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Right Offset</label>
		<div class="controls">
			<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontRightOffset">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Left Offset</label>
		<div class="controls">
			<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontLeftOffset">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Filament Temperature</label>
		<div class="controls">
			<input type="number" step="1" min="150" max="285" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FilamentTemperature">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Filament Type</label>
		<div class="controls">
			<select class="input-block-level" data-bind="value: settings.plugins.m3dfio.FilamentType">
				<option value="ABS">ABS</option>
				<option value="PLA">PLA</option>
				<option value="HIPS">HIPS</option>
				<option value="OTHER">Other</option>
			</select> 
		</div>
	</div>
</form>
