<form class="form-horizontal">
	<div class="control-group">
		<h4>General</h4>
		<div class="controls">
			<label class="checkbox" title="Allows uploading and printing models that are larger than the printer's max dimensions">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.IgnorePrintDimensionLimitations"><span>Ignore print dimension limitations <span class="label label-important">Dangerous</span></span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Uses settings obtained from the printer to overwrite existing settings when a Micro 3D printer connects">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.AutomaticallyObtainSettings"><span>Obtain printer settings automatically when a Micro 3D printer connects</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Pre-processes each G-code command right before being sent to the printer instead of having the entire G-code file pre-processed when being uploaded or sliced">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.PreprocessOnTheFly"><span>Pre-process on the fly</span>
			</label>
		</div>
	</div>
	<div class="control-group dependant">
		<div class="controls">
			<label class="checkbox" title="A dialog box will appear right before printing to allow changing print settings">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.ChangeSettingsBeforePrint"><span>Change settings before print</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox sharedLibrary" title="Uses the shared library pre-processor instead of the Python pre-processor to pre-process G-code files and commands">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseSharedLibrary"><span>Use shared library</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Disables the Micro 3D printer connecting procedure which allows using other types of printers">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UsingADifferentPrinter"><span>Not using a Micro 3D printer</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<h4>Pre-Processor Stages</h4>
		<div class="controls">
			<label class="checkbox" title="Positions the printed object in the middle of the print bed. If possible, the centered model will be repositioned if it goes out of bounds.">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseCenterModelPreprocessor"><span>Center Model</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Removes G-code commands that are not compatible with the Micro 3D printer">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseValidationPreprocessor"><span>Validation</span>
			</label>
		</div>
	</div>
	<div class="control-group dependant">
		<div class="controls">
			<label class="checkbox" title="Removes all fan commands">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.RemoveFanCommands"><span>Remove fan commands</span>
			</label>
		</div>
	</div>
	<div class="control-group dependant">
		<div class="controls">
			<label class="checkbox" title="Removes all temperature commands">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.RemoveTemperatureCommands"><span>Remove temperature commands</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adds in G-code intro and outro">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UsePreparationPreprocessor"><span>Preparation</span>
			</label>
		</div>
	</div>
	<div class="control-group dependant">
		<div class="controls">
			<label class="checkbox" title="Performs the bed center Z0 calibration procedure before printing">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.CalibrateBeforePrint"><span>Calibrate before print</span>
			</label>
		</div>
	</div>
	<div class="control-group dependant">
		<div class="controls">
			<label class="checkbox" title="Turns on an external fan at the start of the 4th layer and turns it off when the print is done">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseExternalFan"><span>Use external fan</span>
				<input type="number" step="1" min="0" max="99" class="input-block-level short" data-bind="value: settings.plugins.m3dfio.ExternalFanPin" placeholder="GPIO pin number">
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adds dwell times and higher temperatures to the first few layers">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseThermalBondingPreprocessor"><span>Thermal Bonding</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Smooths out the bottom layer">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseWaveBondingPreprocessor"><span>Wave Bonding</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adjusts the Z value of every G-code command to account for bed offsets">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseBedCompensationPreprocessor"><span>Bed Compensation</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<label class="checkbox" title="Adjusts the X and Y values of certain G-code commands to account for backlash when changing directions">
				<input type="checkbox" class="input-block-level" data-bind="checked: settings.plugins.m3dfio.UseBacklashCompensationPreprocessor"><span>Backlash Compensation</span>
			</label>
		</div>
	</div>
	<div class="control-group">
		<h4>Printer Settings</h4>
		<label class="control-label">Backlash X</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" min="0" max="2" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BacklashX">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Backlash Y</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" min="0" max="2" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BacklashY">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Backlash Speed</label>
		<div class="controls">
			<div class="input-append mmPerMinute">
				<input type="number" step="0.0001" min="1" max="4999" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BacklashSpeed">
				<span class="add-on">mm/min</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Left Orientation</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackLeftOrientation">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Right Orientation</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackRightOrientation">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Right Orientation</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontRightOrientation">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Left Orientation</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.000001" min="-3" max="3" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontLeftOrientation">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Bed Height Offset</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BedHeightOffset">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Left Offset</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackLeftOffset">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Back Right Offset</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.BackRightOffset">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Right Offset</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontRightOffset">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Front Left Offset</label>
		<div class="controls">
			<div class="input-append">
				<input type="number" step="0.0001" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FrontLeftOffset">
				<span class="add-on">mm</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Filament Temperature</label>
		<div class="controls">
			<div class="input-append degreesCelsius">
				<input type="number" step="1" min="150" max="285" class="input-block-level" data-bind="value: settings.plugins.m3dfio.FilamentTemperature">
				<span class="add-on">°C</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Filament Type</label>
		<div class="controls">
			<select class="input-block-level" data-bind="value: settings.plugins.m3dfio.FilamentType">
				<option value="ABS">ABS (Recommended 275°C)</option>
				<option value="PLA">PLA (Recommended 215°C)</option>
				<option value="HIPS">HIPS (Recommended 265°C)</option>
				<option value="FLX">FLX (Recommended 245°C)</option>
				<option value="TGH">TGH (Recommended 245°C)</option>
				<option value="CAM">CAM (Recommended 200°C)</option>
				<option value="OTHER">Other</option>
			</select> 
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Speed Limit X</label>
		<div class="controls">
			<div class="input-append mmPerMinute">
				<input type="number" step="1" min="120" max="4800" class="input-block-level" data-bind="value: settings.plugins.m3dfio.SpeedLimitX">
				<span class="add-on">mm/min</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Speed Limit Y</label>
		<div class="controls">
			<div class="input-append mmPerMinute">
				<input type="number" step="1" min="120" max="4800" class="input-block-level" data-bind="value: settings.plugins.m3dfio.SpeedLimitY">
				<span class="add-on">mm/min</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Speed Limit Z</label>
		<div class="controls">
			<div class="input-append mmPerMinute">
				<input type="number" step="1" min="30" max="60" class="input-block-level" data-bind="value: settings.plugins.m3dfio.SpeedLimitZ">
				<span class="add-on">mm/min</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Speed Limit E+</label>
		<div class="controls">
			<div class="input-append mmPerMinute">
				<input type="number" step="1" min="60" max="600" class="input-block-level" data-bind="value: settings.plugins.m3dfio.SpeedLimitEPositive">
				<span class="add-on">mm/min</span>
			</div>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">Speed Limit E-</label>
		<div class="controls">
			<div class="input-append mmPerMinute">
				<input type="number" step="1" min="60" max="720" class="input-block-level" data-bind="value: settings.plugins.m3dfio.SpeedLimitENegative">
				<span class="add-on">mm/min</span>
			</div>
		</div>
	</div>
</form>
